ul {
  list-style: none;
}

li {
  cursor: pointer;
  border: solid black 1px;
  padding: 3px 5px;
}

li:hover {
  background-color: #646474;
}

#loggedInAs {
  float: right;
  border: solid black 1px;
  padding: 5px;
}
